* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, rgb(74, 177, 97), rgb(42, 187, 245));
}

.container {
  width: 40%;
  min-height: 350px;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.new-task-container {
  padding: 10px 10px;
}
